body {
  padding: 0;
  margin: 0;
 background-image: url(images3.jpeg);
  background-repeat: no-repeat;
  background-size: 100vw 93vh;
}
h1 {
  text-align: center;
  height: 5%;
  width: 80%;
  background-color: orange;
  position: absolute;
  border: 0;
  border-radius: 1mm;
  top: 3%;
  left: 10%;
}
#container{
  height: 40%;
  width: 50%;
  border: 0;
  border-radius: 1mm;
  position: absolute;
  top: 25%;
  left: 25%;
  background-color: #9826A8;
  
}
li{
  list-style: none;
}
.btn{
  width: 90%;
  position: relative;
  right: 10%;
  margin-bottom: 15%;
  border: 0;
  border-radius: 1mm;
  background-color: #359EBC;
  color: black;
}